*
{
    box-sizing: border-box;
}

body, html{
  font-family: rambla;
  width: 100%;
  overflow-x: hidden;
}

body{
  overflow-y: hidden;
}

*[id$=section]:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

.container-fluid{
  margin:0;
  padding: 0;
}

#home-section{
  background-image: url("../img/pexels-photo-696407-copy.jpeg");
  background-size: cover;
  background-position: 37% 87%;
  margin-top:50px;
  background-attachment:fixed;
  height: calc(100vh + 50px);
}

@media only screen and (min-width: 991px)
{
  #home-section{
    background-size: 113%;
  }
}

.nav-header-text
{
  font-weight: bold;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.home-text-container
{
  /*background-color: rgba(0,0,0,.25);*/
  position: absolute;
  top: calc(40% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /*margin-top: 3vh;
  margin-left: 8.25vw;
  padding-top: .01vh;*/
  text-align: center;
}

.home-text-container h3, p
{
  margin: 0;
}

#portfolio-section{
  color: white;
  background-image: url("../img/pexels-photo-397998-copy.jpeg");
  background-size: cover;
  background-position: 0% 50%;
  background-attachment:fixed;
  position: relative;
  height: calc(100vh + 50px);
}

@media only screen and (min-width: 991px)
{
  #portfolio-section{
    background-size: 113%;
    padding: 0;
  }
}

#portfolio-section a{
  display: inline-table;
  position: relative;
}

.portfolio-table
{
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.portfolio-table-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  color: black;
  text-align: center;
}

.portfolio-img
{
  position: relative;
  max-height: 20vh;
  width: auto;
  object-fit: contain;
}

.portfolio-cell
{
  display: inline-block;
  width 100%;
  padding: 1vh 7.25vw 1.0vh 7.25vw;
}

@media only screen and (min-width: 991px)
{
  .portfolio-table-text
  {
    transition: filter .25s ease-out;
    filter: opacity(100%);
  }

  .portfolio-img
  {
    max-height: 33vh;
    filter: grayscale(100%);
    transform: scale3d(1,1,1);
    transition: all .25s ease-out;
    backface-visibility: hidden;
    transition-property: transform, opacity;
  }

  .portfolio-cell
  {
    display: inline-block;
    width 100%;
    padding: 2.5vh 1.125vw 2.5vh 1.125vw;
  }

  .portfolio-table
  {
    background-color: black;
    display: block;
    position: absolute;
    top: 67vh;
    left: 33.33vw;
    transform: translate(-50%, -50%);
    /*flex-direction: column;
    justify-content: space-around;*/
    margin: 0;
    height: 100vh;
  }

  .portfolio-cell
  {
    display: inline-block;
    width: auto;
    position: relative;
    padding: 2.5vh 1.125vw 2.5vh 1.125vw;
  }

  .portfolio-cell:hover .portfolio-img
  {
    filter: grayscale(0) blur(0px);
    transform: scale3d(1.25, 1.25, 1);
  }

  .portfolio-cell:hover .portfolio-table-text
  {
    filter: opacity(0%);
  }


}

#social-media-section{
  font-weight: bold;
  color: #b7b7b7;
  background-image: url("../img/pexels-photo-257853-copy.jpeg");
  background-size: cover;
  background-position: 50% 10%;
  background-attachment:fixed;
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 14%;
}

@media only screen and (min-width: 991px)
{
  #social-media-section{
    background-size: 113%;
    padding:0;
  }
}

#social-media-section a{
  /* display: block; */
}

#social-media-section a:hover{
  color: white;
}

#social-media-section a:focus{
  color: white;
  text-decoration: none;
}

.social-media-header-text
{
  font-weight: bold;
  /*background-color: rgba(0,0,0,.25);
  border-radius: 5px;*/
}

.social-media-button
{
  display: flex;
  flex-direction: column;
  background-color:rgb(51, 51, 51);
  color: white;
  width: 32%;
  margin: auto;
  height: 8%;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}

.social-media-button-text{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

@media only screen and (min-width: 991px)
{
  .social-media-button1
  {
    display: inline-block;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 1vh 0 1vh 0;
    vertical-align: middle;
  }

  .social-media-button2
  {
    display: inline-block;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: calc((30vh + 55.309vw)/ 1.106);
    transform: translate(-50%, -50%);
    /*height: 12.5vh;
    width: auto;*/
    font-size: 24px;
    padding: 1vh 0 1vh 0;
    vertical-align: middle;
  }

  .social-media-button3
  {
    display: inline-block;
    position: absolute;
    border-radius: 4px;
    top: 82%;
    left: calc((62vh + 55.309vw)/ 1.106);
    transform: translate(-50%, -50%);
    /*height: 12.5vh;
    width: auto;*/
    font-size: 24px;
    padding: 1vh 0 1vh 0;
    vertical-align: middle;
  }

  .social-media-button4
  {
    display: inline-block;
    position: absolute;
    border-radius: 4px;
    top: 20%;
    left: calc((62vh + 55.309vw)/ 1.106);
    transform: translate(-50%, -50%);
    /*height: 12.5vh;
    width: auto;*/
    font-size: 24px;
    padding: 1vh 0 1vh 0;
    vertical-align: middle;
  }

  .social-media-button
  {
    display: inline-block;
    filter: invert(0%);
    transition: all .25s ease-out;
    transition-property: transform, filter;
    background-color:rgb(51, 51, 51);
    color: white;
    backface-visibility: hidden;
    width: 9vw;
    height: auto;
    text-align: center;
    -webkit-perspective: 1000;
  }

  .social-media-button:hover
  {
    filter: invert(100%);
    transform: translate(-50%, -50%) scale3d(1.0625,1.0625,1);
  }

}
